# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import math
import csv

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [16]:
df = pd.read_csv("Data/u.user", sep='|')
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 3. Assign it to a variable called users.

In [17]:
users = df
users.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 4. Discover what is the mean age per occupation

In [18]:
mean_age_occupation = users['age'].groupby([users['occupation']]).mean()
mean_age_occupation.tail()

occupation
salesman      35.666667
scientist     35.548387
student       22.081633
technician    33.148148
writer        36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [19]:
gender_groupby = users.groupby('gender')['occupation'].count()
male_ratio = gender_groupby['M']/users['occupation'].count() 
print(male_ratio)

0.7104984093319194

In [20]:
i = users.groupby(['occupation' ,'gender']).gender.count() 
j = users.groupby('gender').gender.count()
(i / j).sort_values(ascending=False).xs('M', level=1)

occupation
student          0.202985
educator         0.102985
other            0.102985
engineer         0.097015
programmer       0.089552
administrator    0.064179
executive        0.043284
scientist        0.041791
writer           0.038806
technician       0.038806
librarian        0.032836
entertainment    0.023881
marketing        0.023881
artist           0.022388
retired          0.019403
lawyer           0.014925
salesman         0.013433
doctor           0.010448
healthcare       0.007463
none             0.007463
homemaker        0.001493
Name: gender, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [25]:
result_ = users.groupby('occupation')['age'].agg(['min','max'])

### Step 7. For each combination of occupation and gender, calculate the mean age

In [26]:
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [33]:
users.groupby('occupation')['gender'].value_counts('normalized=True')*100

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
educator       M          72.631579
               F          27.368421
engineer       M          97.014925
               F           2.985075
entertainment  M          88.888889
               F          11.111111
executive      M          90.625000
               F           9.375000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         M          83.333333
               F          16.666667
librarian      F          56.862745
               M          43.137255
marketing      M          61.538462
               F          38.461538
none           M          55.555556
               F          44.444444
other          M          65.714286
               F          34.285714
programmer     M          90.909091
               F           9.090909
retired        M          92.857143
               F           7.142857
salesman       M          75.000000
               F          25.000000
scientist      M          90.322581
               F           9.677419
student        M          69.387755
               F          30.612245
technician     M          96.296296
               F           3.703704
writer         M          57.777778
               F          42.222222
Name: gender, dtype: float64