# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [8]:
## alternative way to download data manually 
!wget -O /Users/bisu/Desktop/IC/Excercise/Pandas/pandas_exercises/Data/file.tsv https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

--2019-07-05 09:58:57--  https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.84.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.84.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 364975 (356K) [text/plain]
Saving to: ‘/Users/bisu/Desktop/IC/Excercise/Pandas/pandas_exercises/Data/file.tsv’

/Users/bisu/Desktop 100%[===================>] 356.42K  --.-KB/s    in 0.1s

2019-07-05 09:58:57 (3.25 MB/s) - ‘/Users/bisu/Desktop/IC/Excercise/Pandas/pandas_exercises/Data/file.tsv’ saved [364975/364975]

In [35]:
chipo  = pd.read_csv('Data/file.tsv', sep = '\t')
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [14]:
# direct download from web
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [18]:
chipo = chipo ## since already assigned i re-do it
chipo.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

### Step 4. How many products cost more than $10.00?

In [38]:
chipo.rename(columns = {'item_price' : 'item_price($)'} , inplace = True)
chipo['item_price($)'] = chipo['item_price($)'].str.replace('$','')
chipo['item_price($)'] = chipo['item_price($)'].astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price($)
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [41]:
chipo[chipo['item_price($)'] > 10].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price($)         1130
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [43]:
chipo_new = chipo.filter(['item_name', 'item_price($)'], axis = 1)
chipo_new.head()

                               item_name  item_price($)
0           Chips and Fresh Tomato Salsa           2.39
1                                   Izze           3.39
2                       Nantucket Nectar           3.39
3  Chips and Tomatillo-Green Chili Salsa           2.39
4                           Chicken Bowl          16.98

### Step 6. Sort by the name of the item

In [46]:
chipo_new.sort_values(by = 'item_name', ascending = True, inplace = True)
chipo_new.head()

              item_name  item_price($)
3389  6 Pack Soft Drink          12.98
341   6 Pack Soft Drink           6.49
1849  6 Pack Soft Drink           6.49
1860  6 Pack Soft Drink           6.49
2713  6 Pack Soft Drink           6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [47]:
chipo_new['item_price($)'].max()

44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [48]:
chipo_new[chipo_new['item_name'] == 'Veggie Salad Bowl'].count()

item_name        18
item_price($)    18
dtype: int64

### Step 9. How many times people orderd more than one Canned Soda?

In [59]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price($)         20
dtype: int64