# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [34]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [35]:
!wget -O /Users/bisu/Desktop/IC/Excercise/Pandas/pandas_exercises/Data/drinks_file.csv https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv

--2019-07-05 11:38:35--  https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.84.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.84.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4973 (4.9K) [text/plain]
Saving to: ‘/Users/bisu/Desktop/IC/Excercise/Pandas/pandas_exercises/Data/drinks_file.csv’

/Users/bisu/Desktop 100%[===================>]   4.86K  --.-KB/s    in 0s

2019-07-05 11:38:35 (12.9 MB/s) - ‘/Users/bisu/Desktop/IC/Excercise/Pandas/pandas_exercises/Data/drinks_file.csv’ saved [4973/4973]

### Step 3. Assign it to a variable called drinks.

In [36]:
drinks = pd.read_csv('Data/drinks_file.csv', sep = ',')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [39]:
drink = drinks['beer_servings'].groupby([drinks['continent']]).mean()

drink.head()

### Step 5. For each continent print the statistics for wine consumption.

In [47]:
drink_w = drinks['wine_servings'].groupby([drinks['continent']]).describe()
drink_w.head()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [51]:
drink_alcohol_mean = drinks['total_litres_of_pure_alcohol'].groupby([drinks['continent']]).mean()
drink_alcohol_mean.head()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [96]:
drink_alc_median = drinks['total_litres_of_pure_alcohol'].groupby([drinks['continent']]).median()
drink_alc_median.head()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [97]:
drink_spirit_val1 = drinks['spirit_servings'].groupby([drinks['continent']]).mean()
drink_spirit_val2 = drinks['spirit_servings'].groupby([drinks['continent']]).min()
drink_spirit_val3 = drinks['spirit_servings'].groupby([drinks['continent']]).max()

In [98]:
drink_spirit_val = pd.concat([drink_spirit_val1, drink_spirit_val2, drink_spirit_val3], axis = 1)

In [99]:
drink_spirit_val

           spirit_servings  spirit_servings  spirit_servings
continent
AF               16.339623                0              152
AS               60.840909                0              326
EU              132.555556                0              373
OC               58.437500                0              254
SA              114.750000               25              302

In [101]:
drink_spirit_val.to_csv(r'/Users/bisu/Desktop/IC/Excercise/Pandas/Data/test/test.csv')