COMPREHENSIVE DATA EXPLORATION WITH PYTHON was not only a good read with interesting story explaining the data analysis but also provided grgeat information on overall data analysis. Following are the five main things i learned from this kaggel excercise.
    1. Important desciption and visualization of data using python 
    2. Relationship between various variables and their importance
    3. Seaborn was itself new to me and the pairplot features of it was very interesting to see the overall data          distribution
    4. Had a good practice  on dealing with missing data using both pandas and numpy
    5. Learn to use data transformation (log transformation)  to make the data plot normal

Python based data-analysis framework Pandas is a great tool. I really like it due to it being simple, yet powerful tool. We can work with various differnet kind of data (csv,json,excel,yml,sqlite) we collected from various sources in pandas. For me, pandas is similar to data query language, sql as it can do pretty much everything sql can do. We can do data pre-procesing using pandas and visualize the important variables from the who bunch of raw data. We can group the data based on certain variables(dataframe.groupby), delete the unnecessary variables (dataframe.drop),see the correlation between different data parameters by concating it(df.concat) . We can do data indexing using pandas, fill the missing values with logical value such as average. We can ever rename the  column title for our simplicity using .rename features or by rewriting all the column names as df.columns = ['name here'].

# Basic info
Read the data-file (a 10 000 row subset of most rated IMDB-movies) into Pandas DataFrame and name the DataFrame-variable to `df` (use tab-character (`\t`) as the separator)

1. Use the following column-names: `ID, title, year, rating, votes, duration, genres`
2. Index the `df` with `ID`-column (either on reading the file or after it.)
3. Display first 5 rows of the `df`
4. Display last 11 rows of the `df`
5. Display the `df`-info

In [90]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import  gzip

In [91]:
df = pd.read_csv('movie_data.txt', sep = "\t", header = None) # converting the txt data to dataframe
df.columns = ['ID', 'title', 'year', 'rating', 'votes', 'duration', 'genres'] #inserting header, alternatively i can use as nasme in first line too

In [92]:
df.head(3)

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller

In [93]:
df.dtypes, df.shape, df.ndim

(ID           object
 title        object
 year          int64
 rating      float64
 votes         int64
 duration     object
 genres       object
 dtype: object, (10000, 7), 2)

In [94]:
df.set_index('ID', inplace = True)

In [95]:
df.head(5)

,title,year,rating,votes,duration,genres
ID,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [96]:
df.tail(11)

,title,year,rating,votes,duration,genres
ID,,,,,,
tt0101356,Another You (1991),1991,4.9,1359,98 mins.,Comedy|Crime
tt0421090,Zerophilia (2005),2005,6.3,1359,90 mins.,Comedy|Romance
tt0067227,The Merchant of Four Seasons (1971),1971,7.6,1359,88 mins.,Drama
tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

# Cleaning
1. Drop all the missing rows which contain _any_ column with missing data
2. Convert the `duration` column to numerical representation of seconds
3. Remove the year from `title` column

In [97]:
pd.isnull(df).sum()
df[df.isnull().any(axis=1)]
df.drop('tt0990404', inplace = True)
df.shape

(9999, 6)

In [98]:
df.isnull().sum()

title       0
year        0
rating      0
votes       0
duration    0
genres      0
dtype: int64

In [99]:
df['duration'] = df['duration'].str.replace('mins.','')
df['duration'] = df['duration'].astype(int)
df.loc[:,'duration'] = df['duration']*60
df.rename(columns = {'duration' : 'duration (in seconds)'}, inplace = True)

In [100]:
df.dtypes

title                     object
year                       int64
rating                   float64
votes                      int64
duration (in seconds)      int64
genres                    object
dtype: object

In [101]:
df['title'] = df['title'].str.replace('\d+','')
df['title'] = df['title'].str.replace('(','')
df['title'] = df['title'].str.replace(')','')

In [102]:
df.head()

,title,year,rating,votes,duration (in seconds),genres
ID,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama
tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller
tt0137523,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller
tt0133093,The Matrix,1999,8.7,448114,8160,Action|Adventure|Sci-Fi
tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller

# Concatenating

1. Read `crew_data.tsv.gz` to DataFrame named `movie_crew_df` with columns `ID, director_ids` indexed by `ID` (forget the rest of the columns)
2. Read `name_data.tsv.gz` to DataFrame named `person_df` with columns `person_ID, name` indexed by `person_ID` (forget the rest of the columns)
3. Merge `movie_crew_df` into `df` with `ID`s and drop the columns without necessary data (hint `outer`-join)
4. Remove movies with more than one director and rename `director_ids` => `director_id`
5. Merge `df` with `person_df` on `director_id`, remove `director_id` and `person_ID` columns, rename `name` => `director`

In [103]:
movie_crew_df = pd.read_csv(gzip.open('crew_data.tsv.gz'), sep = '\t')
movie_crew_df.drop('writers', axis = 1, inplace = True)
movie_crew_df.columns.values[0] = "ID"
movie_crew_df.rename(columns = {'directors' : 'director_ids'}, inplace = True)
movie_crew_df.set_index('ID', inplace = True)
movie_crew_df.head(2)

          director_ids
ID
tt0000001    nm0005690
tt0000002    nm0721526

In [104]:
person_df = pd.read_csv(gzip.open('name_data.tsv.gz'), sep = '\t')
person_df = person_df.filter(['nconst','primaryName'], axis = 1)
person_df.rename(columns = {'nconst': 'person_ID', 'primaryName' : 'name'}, inplace = True)
person_df.set_index('person_ID', inplace = True)
person_df.head(2)

                    name
person_ID
nm0000001   Fred Astaire
nm0000002  Lauren Bacall

In [105]:
result = pd.merge(df[['title', 'year']], movie_crew_df, on = 'ID', how = 'outer')

In [106]:
result = result[result['director_ids'].str.len().lt(10)]  
result.rename(columns = {'director_ids' : 'director_id'}, inplace = True)
result.head(3)

                               title    year director_id
ID
tt0111161  The Shawshank Redemption   1994.0   nm0001104
tt0110912              Pulp Fiction   1994.0   nm0000233
tt0137523                Fight Club   1999.0   nm0000399

Merge df with person_df on director_id, remove director_id and person_ID columns, rename name => director

-- what is this director_id ??

# Exploration

1. Find ten most longest movies
2. Find Best rated movies ordered by rating DESC and Title ASC
3. What is the average duration (in minutes) of a movie?
4. Get ten most productive directors
5. How many movie has been made in the 2000's?
6. Get all the movies directed by Akira Kurosawa ordered by year DESC

In [107]:
## most longest movie
df[df['duration (in seconds)']==df['duration (in seconds)'].max()]

,title,year,rating,votes,duration (in seconds),genres
ID,,,,,,
tt0111341,Satantango,1994,8.5,2698,27000,Comedy|Drama|Mystery

In [108]:
# Sorting as rating(descending) first and then with title(ascending)
df.sort_values(by = ['rating' , 'title'], ascending = [False, True], inplace = True)

In [109]:
## if the productivity of directors are based on rating following is the list.
df.head(10)

,title,year,rating,votes,duration (in seconds),genres
ID,,,,,,
tt0068646,The Godfather,1972,9.2,474189,10500,Crime|Drama
tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama
tt0252487,Outrageous Class,1975,9.0,9823,5220,Comedy|Drama
tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller
tt0071562,The Godfather: Part II,1974,9.0,291169,12000,Crime|Drama
tt0060196,"The Good, the Bad and the Ugly",1966,9.0,195238,9660,Western
tt0050083,Angry Men,1957,8.9,148155,5760,Drama|Mystery
tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller
tt0073486,One Flew Over the Cuckoo's Nest,1975,8.9,255503,7980,Drama
tt0108052,Schindler's List,1993,8.9,325888,11700,Biography|Drama|History|War

In [110]:
## average duration in movies
df['duration (in seconds)'].mean()

6214.821482148215

In [119]:
df.head(2)

,title,year,rating,votes,duration (in seconds),genres
ID,,,,,,
tt0068646,The Godfather,1972,9.2,474189,10500,Crime|Drama
tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama

In [125]:
ans = df[df['year'] > 1999].count()
ans

title                    4586
year                     4586
rating                   4586
votes                    4586
duration (in seconds)    4586
genres                   4586
dtype: int64

In [129]:
a = pd.read_csv(gzip.open('name_data.tsv.gz'), sep = '\t')
a.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0043044,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0117057,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0057345,tt0049189,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050986,tt0050976,tt0083922"